@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* --- Colors --- */
:root {
  --main: #a2ba02;
  --main-light: rgba(182, 205, 30, 0.05);
  --main-dark: #28367b;
  --body-color: #141414;
  --cta-green: #b6cd1e;
  --cta-green-dark: #a2ba02;
  --grey: linear-gradient(90deg, #f3f5fd 6.42%, rgba(243, 245, 253, 0) 88.54%);
  --grey-dark: #f3f5fd;
  --grey-light: #f8f9fa;
  --ty-size1: 18px;
  --ty-size2: 22px;
  --ty-size3: 28px;
  --ty-size4: 35px;
  --ty-size5: 44px;
  --ty-size6: 55px;
  --ty-size7: 68px;
  --ty-size8: 85px;
  --ty-size9: 107px;
  --ty-size10: 134px;
  --ty-size11: 167px;
  --ty-size12: 210px;
  --ty-size13: 325px;
  --ty-size-1: 18px;
  --ty-size-2: 14.4px;
  --ty-size-3: 9.216px;
  --ty-size-4: 7.373px;
  --ty-size-5: 5.898px;
  --ty-size-6: 4.719px;
}

body,
html {
  overflow-x: hidden;
  scroll-snap-type: smooth;
  color: var(--body-color);
}
.ty-body-18 {
  /* Body-18 */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  /* identical to box height, or 156% */

  color: #000000;
}
.ty-article-heading {
  /* Headline-Article */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  /* identical to box height, or 133% */

  color: #000000;
}
.ty-article-body {
  /* Article-Body */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  color: #000000;
}
.ty-body-14 {
  /* Body-14 */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */

  color: #000000;
}
.part-time-heading {
  /* Nadpis-brigada */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  /* identical to box height, or 125% */

  color: #000000;
}
.ty-h1 {
  /* H1-Mobile */

  font-family: Coolvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;

  /* identical to box height, or 129% */
  letter-spacing: 1px;

  color: #000000;
}
.ty-h2 {
  /* H2-Mobil */

  font-family: Coolvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;

  /* identical to box height, or 136% */
  letter-spacing: 1px;

  color: #000000;
}
.ty-h3-website {
  /* H3-Website */
  font-family: Coolvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  letter-spacing: 1px;
}
.ty-h3 {
  /* Headline-Article */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  /* identical to box height, or 133% */

  color: #000000;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  body,
  .body-responsive {
    /* Body-Mobil */

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: -0.4px;

    color: #000000;
  }
}
.about-tymbe {
  /* Body-Mobil */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  /* or 162% */
  letter-spacing: -0.4px;

  /* Gray 79% */
  color: #616161;
}
.ty-body-responsive {
  /* Body-Mobil */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  /* or 162% */
  /* text-align: center; */
  letter-spacing: -0.4px;

  color: #000000;
}
.ty-mt1 {
  margin-top: 18px;
}
.ty-mt2 {
  margin-top: 28px;
}
@media (min-width: 992px) {
  .ty-body-responsive {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(0, 0, 0, 0.8);
  }

  .ty-h1 {
    /* H1-Website */

    font-family: Coolvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;

    /* identical to box height, or 118% */
    letter-spacing: 1px;

    color: #000000;
  }
  .ty-h2 {
    /* H2-Website */

    font-family: Coolvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;

    /* identical to box height, or 118% */
    letter-spacing: 1px;

    color: #000000;
  }
}
.bg-main {
  background-color: var(--main);
}

.bg-main-light {
  background: linear-gradient(
    90deg,
    #f3f5fd 6.42%,
    rgba(243, 245, 253, 0) 88.54%
  );
}

.bg-main-light-green {
  background: rgba(182, 205, 30, 0.05);
}

.bg-main-dark {
  background-color: var(--main-dark);
}

.bg-light-transparent {
  background-color: rgba(256, 256, 256, 0.15);
}

.bg-grey {
  background-color: linear-gradient(
    90deg,
    #f3f5fd 6.42%,
    rgba(243, 245, 253, 0) 88.54%
  );
}

a {
  color: #28367b !important;
}

small {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px !important;
  line-height: 12px;
  /* or 100% */

  text-align: center;
}

p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: -0.4px;

  color: rgba(0, 0, 0, 0.8);
}

.p14 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.p16 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #ffffff;
}

h1 {
  font-family: Coolvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 65px;
  /* or 118% */

  letter-spacing: 1px;

  /* Dark Blue */

  color: #28367b;
}

h2 {
  font-family: Coolvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 1px;
}

h3 {
  font-family: Coolvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1px;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
}

.text-accent {
  color: var(--main-dark);
}

.btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 11px 23px;
}

.btn-primary {
  background-color: var(--cta-green);
  border-color: var(--cta-green);
  color: white !important;
}

.btn-secondary {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background-color: white;
  padding: 11px 23px;
  /* identical to box height, or 137% */
  text-align: center;
  border: 1px solid rgba(40, 54, 123, 0.5);
  box-sizing: border-box;
  border-radius: 100px;
  /* Modra */
  color: #28367b;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: var(--cta-green-dark);
  border-color: var(--cta-green-dark);
}

.btn-outline-primary {
  border: 1px solid rgba(40, 54, 123, 0.5) !important;
  box-sizing: border-box;
  border-radius: 100px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  text-align: center;

  /* Modra */

  color: #28367b;
}
section .container,
section.container {
  padding: 0 28px !important;
}

.btn-outline-primary:hover {
  border: 1px solid #141e4f !important;
  color: #141e4f !important;
  background: transparent !important;
}

.btn-carousel {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.shadow {
  box-shadow: 0px 0px 24px rgba(40, 54, 123, 0.08) !important;
}

.rounded {
  border-radius: 20px !important;
}

.rounded-bottom {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.border-white {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

header {
  background: linear-gradient(
    90deg,
    #f3f5fd 6.42%,
    rgba(243, 245, 253, 0) 88.54%
  );
  padding-top: 10px !important;
}
header > div.container {
  padding-left: 0px;
  padding-right: 0px;
}
/* LG breakpoint */
@media (min-width: 992px) {
  header {
    padding-top: 18px !important;
  }
  header div.container {
    max-width: 1170px;
  }
}
nav.mobile-nav > div.container-fluid {
  padding: 0 10px !important;
}
nav.mobile-nav > div.container-fluid a.navbar-brand {
  padding-top: 2px;
}
.navbar {
  border-radius: 100px;
  box-shadow: 0px 0px 24px rgba(40, 54, 123, 0.08);
}

.navbar-toggler {
  width: 35px !important;
  height: 35px !important;
  padding: 0 !important;
}

.navbar-toggler-icon {
  background-image: none !important;
  width: 35px !important;
  height: 35px !important;
}

.navbar-toggler-icon > svg {
  margin: 0 auto;
}

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

a.nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 20px;
  color: #28367b !important;
}
header a.nav-link:hover {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #a2ba02 !important;
}
header a.nav-link.active {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #a2ba02 !important;
  mix-blend-mode: normal;
}
header a.nav-link.active > svg > path,
header a.nav-link.active > svg > rect {
  fill: #a2ba02 !important;
}
header a.nav-link.active:hover {
  color: var(--main) !important;
  fill: var(--main) !important;
}
a.nav-link.active:hover > svg > path {
  fill: #a2ba02 !important;
}

header a.nav-link:hover > svg > path,
header a.nav-link:hover > svg > rect {
  fill: #a2ba02 !important;
}

.mobile-nav .navbar-brand img {
  height: 35px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 14px;
  padding-right: 14px;
}
.navbar-expand-lg .navbar-nav .nav-link svg {
  margin-right: 5px;
}
.slogan-text {
  font-family: Coolvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: var(--main-dark);
}

.footer-nav {
  border-radius: 100px;
  color: white !important;
}

.footer-nav a {
  color: white !important;
}

.footer-nav svg path {
  fill: white !important;
}

.b2c_home {
  background: url("../img/b2c-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.faq {
  background: url("../img/b2c-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.formular_b2b {
  background: url("../img/formularB2B-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.formular_b2c {
  background: url("../img/formularB2C-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.formular_b2c section {
  margin-top: 55px;
}

.testimonial-bg {
  background: url("../img/testimonial-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  max-height: 500px !important;
}
.accordion-button:not(.collapsed) {
  color: var(--body-color);
  background-color: white;
}
.contact {
  background: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 575.98px) {
  .contact {
    background-size: 300%;
  }
}

.banner-bg {
  background: url("../img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* b2b home page */

.ellipse-stats {
  position: absolute;
  margin-left: -150px;
}
.testimonial-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;

  /* or 219% */
  text-align: center;

  color: #000000;
}

.number-stats {
  display: flex;
  position: relative;
}
.number-stats p {
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 45px;
  position: relative;
  z-index: 10 !important;
  /* identical to box height, or 161% */
  text-align: center;
  letter-spacing: 1px;
  text-decoration-line: underline;

  /* Modra */
  color: #28367b;
}
.number-stats-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  /* identical to box height, or 112% */
  text-align: center;

  /* Modra */
  color: #28367b;

  opacity: 0.8;
}
.number-stats-container {
  padding: 18px 0px 18px 10px;
}
#ring_container div.card-body {
  padding: 18px !important;
  padding-bottom: 0;
}
#ring_container div.card-body div.row > div.col-auto > p.align-middle {
  display: flex;
}
#ring_container div.card-body div.row > div.col-auto > p.align-middle > span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0 !important;
  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  letter-spacing: -0.1px;
  text-decoration-line: underline;
  text-transform: capitalize;
}
#ring_container .ring-header {
  margin-left: -4px !important;
  margin-right: -4px !important;
  margin-top: 20px;
  height: 66px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
#ring_container .ring-logo {
  width: 80px;
  height: auto;
}
#ring_container p.d-inline.text-accent {
  padding-left: 18px !important;
  /* padding-bottom: ; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  letter-spacing: -0.1px;
  text-transform: capitalize;

  /* Modra */
  color: #28367b;
}
#ring_container .card-footer {
  padding-left: 18px !important;
  padding-right: 18px !important;
}
#ring_container .card-footer {
}
@media (max-width: 575.98px) {
  .partner-logo-container img {
    max-width: 135px !important;
  }
  .b2b-cat {
    padding: 12px;
  }
  body {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    /* or 162% */
    letter-spacing: -0.4px;

    color: #000000;
  }
  h1 {
    font-family: Coolvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;

    /* or 129% */
    text-align: center;
    letter-spacing: 1px;

    /* Dark Blue */
    color: #28367b;
  }
  h2 {
    font-family: Coolvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;

    /* or 136% */
    letter-spacing: 1px;
  }
  /* div > .b2b-cat:first-of-type {
    margin-right: 5px;
  } */
}

.form-control {
  background: rgba(243, 245, 253, 0.5);

  /* Dark Blue */
  border: 1px solid #28367b !important;
  box-sizing: border-box;
  border-radius: 10px;
}

.form-select {
  background: rgba(243, 245, 253, 0.5);

  /* Dark Blue */
  border: 1px solid #28367b !important;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  opacity: 1 !important;
  color: #28367b !important;
  padding: 15px 10px;
}

.form-select option {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  opacity: 1 !important;
  color: #28367b !important;
}

input.form-control {
  padding: 10px;
}

input::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  opacity: 1 !important;
  color: #28367b !important;
}

textarea::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  opacity: 1 !important;
  color: #28367b !important;
  padding-top: 10px !important;
}

/* faq */
.faq-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link img {
  margin-right: 5px;
}
.faq-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  font-weight: bold;
  color: var(--main-dark) !important;
  border: none;
  opacity: 1;
  border-bottom: 1px solid #28367b;
  transition: none;
}

.faq-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  font-weight: bold;
  transition: none;
  color: var(--main-dark);
  opacity: 0.6;
  border: none;

  border-bottom: 1px solid #f5f2f2;
}
.faq-container .accordion-item {
  border: none !important;
}
.faq-container .accordion-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */

  color: #141414;
  border-top: 1px solid #b6cd1e !important;
  border-left: 1px solid #b6cd1e !important;
  border-right: 1px solid #b6cd1e !important;
  border-bottom: none !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
/* .faq-container .accordion-button:focus {
  border-bottom: unset !important;
} */
.faq-container .accordion-body {
  border-top: none !important;
  border-bottom: 1px solid #b6cd1e !important;
  border-left: 1px solid #b6cd1e !important;
  border-right: 1px solid #b6cd1e !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: -0.4px;

  /* Gray 79% */
  color: #616161;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-button.collapsed {
  border: 1px solid #dbdfee !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
/* .accordion-button:focus {
  border: 1px solid #b6cd1e !important;
} */
.accordion-item {
  margin: 10px 0;
  border: 1px solid #dbdfee !important;
  border-radius: 10px !important;
}

.accordion-button {
  border-radius: 10px !important;
}

.accordion-button::after {
  background-image: url("../img/accordionArrowDown.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/accordionArrowDown.svg");
}

.accordion-button:focus {
  box-shadow: none !important;
  background: transparent !important;
  color: #141414 !important;
}

.accordion-button:visited {
  box-shadow: none !important;
  background: transparent !important;
  color: #141414 !important;
  border-color: transparent !important;
}

/*--- B2B register form ---*/

.formStep {
  width: 18px;
  height: 18px;
  background: #a2ba02;
  border-radius: 50%;
}

.formStep.nvisited {
  background: rgba(162, 186, 2, 0.25);
}

.formStep.visited {
  background: rgba(162, 186, 2, 1);
  opacity: 1;
}

.formLine {
  border: 1px solid #a2ba02;
}

.formLine.nvisited {
  opacity: 0.25;
}

.formLine.visited {
  opacity: 1;
}
h1.page-title {
  margin-top: 35px;
  margin-bottom: 18px !important;
}
.call-to-action {
  margin-top: 35px !important;
  margin-bottom: 55px !important;
}
.page-content-section {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .testimonial-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;

    /* or 194% */
    text-align: center;

    color: #000000;
  }
  h1.page-title {
    margin-top: 107px;
    margin-bottom: 18px !important;
  }
  .page-content-section {
    margin-top: 100px;
  }
  #carouselTestimonials .carousel-item .card .card-body h5 {
    padding-left: 44px !important;
    padding-right: 44px !important;
  }
  .ty-down-arrow {
    width: 50px !important;
    height: 50px !important;
  }
  .contact-container {
    padding: 28px 35px 22px 35px !important;
  }
  .faq-container .accordion-button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    /* Black */

    color: #141414;
  }
  .faq {
    padding-bottom: 86px !important;
  }
  .faq-container {
    margin-bottom: 107px;
  }
  .faq-container .accordion-body {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */

    /* Gray 79% */
    color: #616161;
  }
  .number-stats p {
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

    /* identical to box height, or 100% */
    text-align: center;
    text-decoration: none !important;
    /* Modra */
    color: #28367b;

    opacity: 0.8;
  }
  .ty-circle-container .ty-circle {
    width: 50px;
    height: 50px;
    top: -23px;
    left: -35px;
  }

  .banner-bg {
    background: url("../img/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  span.ty-advantage-card-header {
    /* Headline-Article */
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    /* or 133% */

    /* Dark Blue */
    color: #28367b;
  }
}
nav.mobile-nav a.nav-link {
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}
.ty-border-bottom {
  border-bottom: #f5f2f2 !important;
}
.ty-card-price-container {
  border-top: 1px solid #f5f2f2;
  border-bottom: 1px solid #f5f2f2;
}
#carouselTestimonials .carousel-item {
  height: 600px;
}
#carouselTestimonials .card-footer {
  border-top: 1px solid #f5f2f2;
}
#carouselTestimonials .carousel-item .card {
  margin: 18px !important;
}
#carouselTestimonials .carousel-item .card .card-body {
  padding: 22px 0 28px 0;
}
#carouselTestimonials .carousel-item .card .card-body h5 {
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;

  /* or 219% */
  text-align: center;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0.1;
}
.carousel-indicators .active {
  opacity: 1;
}
.ty-down-arrow {
  width: 35px;
  height: 35px;
}
footer div.row.justify-content-center.text-center p {
  max-width: 570px;
}
.ty-circle-container {
  position: relative;
  z-index: 0 !important;
  display: contents;
}
.ty-circle {
  z-index: 0;
  width: 35px;
  height: 35px;
  top: -10px;
  left: -20px;
  border-radius: 50%;
  position: absolute;
  background-color: #b6cd1e;
}
.ty-advantage-card-header {
  max-width: 270px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  height: 48px;
  display: block;
  /* or 127% */

  /* Dark Blue */
  color: #28367b;
}

.ty-how-to-text {
  margin-bottom: 35px;
  margin-top: 2px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: -0.1px;

  color: #000000;
}
.ty-how-to-heading {
  margin-top: 28px !important;
}
.contact-container {
  padding: 18px;
}
.contact-container .form-control {
  padding: 14px;
}
.faq-container {
}
.tab-content {
  padding: 10px;
}
.form-card {
  padding: 18px;
}
#formStep1 > div.mb-3 {
  margin-bottom: 10px !important;
}
.form-text-header {
  margin-top: 28px;
  margin-bottom: 10px;
}
.ty-number-stats-value {
  white-space: nowrap;
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;

  /* identical to box height, or 129% */
  text-align: center;
  letter-spacing: 1px;
  text-decoration-line: underline;

  /* Modra */
  color: #28367b;
}
